
.content {
}

.stdpnt-menu {
    background-color : #96BEFC;
    min-width: 240px;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

.stdpnt-main-panel {
    background-color : white ;
    /*width: 618px;*/
    /*float: left;*/    
    margin-left: 250px;
    max-width: 930px;
    padding-left: 10px;
}


.stdpnt-menu li {
    list-style-type:none;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.stdpnt-menu li:hover {
    background-color : white;
}
